<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Todo 리스트</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
  <h1>Todo 리스트</h1>
  <form id="todo-form">
    <input type="text" id="todo-input" placeholder="새로운 할 일을 입력하세요" required>
    <button type="submit">추가</button>
  </form>
  <ul id="todo-list"></ul>

  <script>
    $(document).ready(function() {
      // 할 일 목록 불러오기
      fetch('/todos')
        .then(response => response.json())
        .then(todos => {
          todos.forEach(todo => {
            $('#todo-list').append(`<li data-id="${todo._id}">
              <input type="checkbox" ${todo.completed ? 'checked' : ''}> ${todo.text}
              <button class="delete-btn">삭제</button>
            </li>`);
          });
        });

      // 새로운 할 일 추가
      $('#todo-form').submit(function(event) {
        event.preventDefault();
        const text = $('#todo-input').val();
        $.post('/todos', { text }, function(todo) {
          $('#todo-list').append(`<li data-id="${todo._id}">
            <input type="checkbox"> ${todo.text}
            <button class="delete-btn">삭제</button>
          </li>`);
          $('#todo-input').val('');
        });
      });

      // 할 일 완료 상태 변경
      $('#todo-list').on('change', 'input[type="checkbox"]', function() {
        const li = $(this).closest('li');
        const todoId = li.data('id');
        const completed = $(this).is(':checked');
        $.ajax({
          url: `/todos/${todoId}`,
          method: 'PUT',
          contentType: 'application/json',
          data: JSON.stringify({ completed }),
          success: function() {
            // 업데이트 성공
          }
        });
      });

      // 할 일 삭제
      $('#todo-list').on('click', '.delete-btn', function() {
        const li = $(this).closest('li');
        const todoId = li.data('id');
        $.ajax({
          url: `/todos/${todoId}`,
          method: 'DELETE',
          success: function() {
            li.remove();
          }
        });
      });
    });
  </script>
</body>
</html>
