<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="styles.css">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            font-size: 3em;
        }
    </style>
</head>
<body>
    <h1>TO DO LIST</h1>

    <script>
        // 3초 후 로그인 페이지로 이동
        setTimeout(function() {
            window.location.href = '/login';
        }, 3000);
    </script>
</body>
</html>
